.container {
    max-width: 75%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.title-h2 {
    background-color: #663399 !important;
    color: #b9dfff;
    margin: 0;
    padding: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-transform: uppercase;
  }
  
  .app-title {
    text-align: center;
  }
  